.infinite-scroll-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100vw;
}

.infinite-scroll-content {
  display: flex;
  width: calc(200%);
}

.custom-input:focus {
  outline: none; /* Remove default outline */
  box-shadow: none; /* Remove default box-shadow */
}
