.customGradient {
    background: rgb(47, 44, 102);
    background: linear-gradient(-90deg, rgba(47, 44, 102, 1) 0%, rgba(96, 43, 83, 0.7931547619047619) 18%, rgba(242, 112, 78, 0.41780462184873945) 100%);
    transition: all .5s;
}

